.settings/
.DS_Store
.env
vendor
docs/node_modules
public
!/Resources/Public
Tests/Coverage
.php_cs.cache

# IDEA Code Style
.idea/*
!.idea/copyright/
!.idea/copyright/*

# Test Sources
.cache
.cache/composer/.htaccess
bin
var
composer.lock
Tests/.phpunit.result.cache
Tests/Coverage-Unit