.settings/
.DS_Store
.env
vendor
docs/node_modules
public
!/Resources/Public
Tests/Coverage
.php_cs.cache

# IDEA Code Style
.idea/*
!.idea/copyright/
!.idea/copyright/*

# Test Sources
Tests/Build/*
!Tests/Build/.keep
